@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Курсова робота з баз даних</h3>
    <h3>Студентки групи ІС-22, Коломойченко Катерини</h3>
    <br />
    <h3>Опис предметної області</h3>
    <b>Облік ремонтів на СТО</b>
    <p>
        Станція технічного обслуговування автомобілів (СТО) надає послуги по ремонту транспортного засобу (ТЗ).
    </p>
    <p>
        Якщо клієнт приїжджає для ремонту свого ТЗ, то майстер СТО виконує діагностику для визначення причини несправності ТЗ, при цьому:
    </p>
    <ul>
        <li>записуються дані про машину, власника і причини поломки, </li>
        <li>визначається комплект деталей, які потрібно замінити.</li>
    </ul>
    <p>
        На підставі цих даних клієнту повідомляють термін, упродовж якого буде зроблений ремонт ТЗ, і попередня сума ремонту.
    </p>
    <p>
        Для ремонту автомобіля СТО використовує власні деталі; якщо необхідний комплект деталей відсутній, то майстер оформляє замовлення комплекту на складі.
    </p>
    <p>
        Після закінчення ремонту СТО оформляє гарантію на проведений ремонт; якщо на протязі гарантійного терміну виникає поломка цього ж виду, то її ремонт проводиться безкоштовно.
    </p>
</main>